<!DOCTYPE html>
<html lang="en">

<head>
    <p id="demo2"> </p>
    <p id="hand"> </p>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="scripts/script2benamed.js" charset="utf-8">

    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    Player has one role {{ role }}
</body>

</html>